

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--crimsonText);
    
    
}

*, *::before, *::after{
    box-sizing: border-box;
}

html.body{
    margin: 0%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: whitesmoke;
}

/*=============== header menu ==================*/

.wrapper .header{
    z-index: 1;
    background-color: var(--primary-color);
    position: fixed;
    width: calc(100% - 0%);
    height: 5rem;
    display: flex;
    top: 0;
}

.wrapper .header .header-menu{
    width: calc(100% - 0%);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0, 20rem;
}

.wrapper .header .header-menu a{
    text-decoration: none;
}

.wrapper .header .header-menu .header-text{
    position: absolute;
    margin-left: 2rem;
}

.wrapper .header .header-menu .openbtn{
    color: whitesmoke;
    position: relative; 
    margin-left: 26rem;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
}

.wrapper .header .header-menu ul{
    display: flex;
}

.wrapper .header .header-menu ul li a{
    display: block;
}

.login, .signup, .upload, .write{
    display: none;
    position: fixed;
    z-index: 4;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 0px;
}

 .login .login-content,
 .signup .signup-content,
 .upload .upload-content,
 .write .write-content {
    background-color: whitesmoke;
    margin:100px auto;
    border: 1px solid var(--primary-color2);
    width: 40%;
}

.write .write-content{
    width: 60%;
}

.login .login-content .imgcontainer,
.signup .signup-content .welcomecontainer,
.upload .upload-content .uploadContainer,
.write .write-content .writeContainer{
    text-align: center;
    margin: 8% 0;
    position: relative;
}



.write .write-content .writeContainer{
    margin: 0;
}

.upload .upload-content .uploadContainer{
    position: relative;
    height: 300px;
    width: 80%;
    border-radius: 10px;
    background: whitesmoke;
    border: 2px dashed #c2cdda;
    margin: 10% auto;
}

.upload .upload-content .uploadContainer .imgcontainer{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload .upload-content .uploadContainer .imgcontainer img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

.upload .upload-content .uploadContainer .content{
    margin-top: 50px;
}

.upload .upload-content .uploadContainer .content .icon{
    font-size: 100px;
    color: var(--primary-color2);
  }

.upload .upload-content .uploadContainer .content .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color2);
}

.upload .upload-content .uploadContainer .uploadClose{
    position: absolute;
    right: 15px;
    top: 0;
    color: var(--primary-color);
    font-size: 35px;
    font-weight: bold;
    display: none;
}

.upload .upload-content .uploadContainer.active{
    border: none;
}

.upload .upload-content .uploadContainer.active:hover .uploadClose{
    display: block;
}

.upload .upload-content .uploadContainer .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: whitesmoke;
    display: none;
    background: var(--primary-color);
  }

.upload .upload-content .uploadContainer.active:hover .file-name{
    display: block;
}

.signup .signup-content .welcomecontainer{
    margin: 8% 0 3% 0;
}

.login .login-content .imgcontainer .avatar {
  width: 40%;
  border-radius: 50%;
}

.write .write-content .writeContainer img{
    width: 100%;
    opacity: .8;
    z-index: -1;
}

.signup .signup-content .welcomecontainer div{
    justify-content: center;
    font: bold 1.5rem/55px var(--crimsonText);
    color: var(--primary-color2);
    padding: 15px;
    text-transform: uppercase;
}

.write .write-content .writeContainer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: bold 2rem/5rem var(--crimsonText);
    color: var(--title-color);
    padding: 15px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px var(--primary-color), -2px -2px 0px  var(--primary-color), 2px -2px 0px  var(--primary-color), -2px 2px 0px  var(--primary-color);
}

.signup .signup-content .welcomecontainer p{
    font: normal bold 2rem var(--crimsonText);
    text-transform: uppercase;
    color: var(--title-color);
}

.login .login-content .imgcontainer .close,
.signup .signup-content .welcomecontainer .close,
.upload .upload-content .uploadContainer span .close,
.write .write-content .writeContainer .close {
  position: absolute;
  right: 10%;
  top: 0%;
  color: var(--primary-color);
  font-size: 35px;
  font-weight: bold;
  z-index: 1;
}

.upload .upload-content span .close {
    display: block !important;
    position: relative !important;
    text-decoration: none !important;
    font-size: 35px !important;
    padding: 0 20px 0 0 !important;
    margin: 0px !important;
    border: none !important;
    transition: 0 !important;
    float: right !important;
    padding-right: 10px !important;
    color: var(--primary-color) !important;
    font-weight: bold;
    z-index: 1;
}

.login .login-content .imgcontainer .close:hover,
.login .login-content .imgcontainer .close:focus,
.signup .signup-content .welcomecontainer .close:hover,
.signup .signup-content .welcomecontainer .close:focus,
.upload .upload-content span .close:hover,
.upload .upload-content span .close:focus,
.upload .upload-content .uploadContainer .close:hover,
.upload .upload-content .uploadContainer .close:focus,
.write .write-content .writeContainer .close:hover,
.write .write-content .writeContainer .close:focus{
  color: red !important;
  cursor: pointer;
}




.login .login-content .container,
.signup .signup-content .container,
.write .write-content .container{
  padding: 16px;
  margin: 30px;
}



.signup .signup-content .container{
    margin-top: 0px !important;
}

.signup .signup-content .container p{
    text-align: center;
}


.login .login-content input[type=text], input[type=password],
.signup .signup-content .container .form-control input[type=text], input[type=password],
.write .write-content .container input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login .login-content input,
.signup .signup-content .container .form-control input,
.write .write-content .container input{
    border-radius: 4px;
}

.signup .signup-content .container .success input{
    border-color: #2ecc71 !important;
}

.signup .signup-content .container .error input{
    border-color: #e74c3c !important;
}

.signup .signup-content .container .form-control{
    position: relative;
    margin-bottom: 1.2rem;
}

.signup .signup-content .container .form-control i{
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.signup .signup-content .container .error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.signup .signup-content .container .success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.signup .signup-content .container .form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
    left: 0;
    top: 75px;
	visibility: hidden;
}

.signup .signup-content .container .error small {
	visibility: visible;
}

.write .write-content .container .content{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

.login .login-content .loginbtn,
.signup .signup-content .container .signUpBtn,
.upload .upload-content .uploadBtn .uploadFinalBtn,
.upload .upload-content .uploadBtn .chooseImg,
.write .write-content .container .writeBtn{
    width: 90%;
    display: block;
    padding: 10px;
    margin: 10px auto;
    background: var(--gradient-color);
    border: none;
} 

.upload .upload-content .uploadBtn .uploadFinalBtn,
.upload .upload-content .uploadBtn .chooseImg{
    width: 80%;
    margin-bottom: 20px;
}

.signup .signup-content .container .signUpWith{
    background: var(--gradient-color2);
    color: whitesmoke;
}

.login .login-content .psw {
  float: right;
  margin: 5px;
  
}

.login .login-content .forgotPsw{
     text-decoration: none;
     color: var(--primary-color);
}

.login .animate,
.signup .animate,
.upload .animate,
.write .animate{
  -webkit-animation: animatezoom 0.5s;
  animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
} 


.wrapper .header .header-menu ul li .dark-mode{
    font-size: 35px;
    text-align: center;
    color: var(--title-color);
    margin: 1rem 1.7rem;
    transition: 0.3s;
    transition-property: color;
}

/*======================= side bar====================== */

.wrapper .sidebar{
    background: var(--primary-color2);
    position: fixed;
    top: 5rem;
    width: 17rem;
    height: 100vh;
    transition: 0.5s;
    transition-property: width;
    overflow-y: auto;
}

.wrapper .sidebar::-webkit-scrollbar {
    display: none;
}

.wrapper .sidebar .sidebar-menu{
    overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .closebtn{
    float: right;
    margin-right: 1.5rem;
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
}

.wrapper .sidebar .sidebar-menu .profile img{
    margin: 0rem 3rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
    color: var(--title-color);
    font-weight: 800;
    margin: 1rem 7rem;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
    display: block;
    color: var(--title-color);
    position: relative;
    padding: 20px 20px;
    transition: 0.3s;
    transition-property: color;
    text-decoration: none;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
    margin-right: 15px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
    float: right;
    font-size: 12px;
    margin-top: 8px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
    background-color: var(--primary-color);
    overflow: hidden;
    transition: 0.3s;
    max-height: 0;
    transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
    display: block;
    position: relative;
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
    padding: 20px;
    margin-left: 20px;
    border-bottom: 1px solid var(--primary-color2);
    transition: .3s;
    transition: background;
    
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
    margin-right: 13px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
    transform: scale(1.1);
}

.wrapper .sidebar .sidebar-menu .item .sub-menu:target{
    max-height: 200px;
}

/* ======================main container===================== */

.wrapper .main-container{
    width: (100% - 17rem);
    margin-left: 17rem;
    margin-top: 5rem;
    padding: 2rem;
    transition: 0.5s;
    height: 100vh;
    background:url(../image/los.jpg);
    background-size: cover;
    background-position: center;
}
    
.wrapper .collapseSide{
    width: 0rem;
}

.wrapper .collapseMain{
    width: (100% - 0px);
    margin-left: 0px;
}

 .main-container .main-top{
    display: flex;
    /* position: relative; */
    /* justify-content: space-between; */
    margin-bottom: 2rem;
}

 .main-container .main-top2{
    display: flex;
}

 .main-container .mainTop-btn{
    width: 120px;
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 2px solid var(--primary-color);
    font-size: 16px;
    outline: none !important;
    transition: .3s ease;
    border-radius: 5%;
    box-shadow: 4px 4px var(--primary-color2);
} 

.main-container .mainTop-btn:hover{
    background: rgba(220,220,235,0.3);
}

.main-container .main-top .search {
    width: 300px;
    display: flex;
    margin: 7px 10px 0 10px;
  }

  .main-container .main-top .search .searchTerm {
    width: 100%;
    background: var(--gradient-color);
    margin: 10px auto;
    padding: 5px;
    height: 65%;
    border-radius: 5px 0 0 5px;
    border-width:0px;
    font-size: 16px;
  }

  .main-container .main-top .search .searchTerm:focus{
    color: var(--primary-color);
    outline: none !important;
  }
  
  .main-container .main-top .search .searchButton {
    margin: 10px auto;
    width: 40px;
    height: 65%;
    background: var(--primary-color2);
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    border-width:0px;
  }

  .main-container .main-top .search .searchButton:focus{
    outline: none !important;
  }

 .main-container table{
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
  }

 .main-container table thead{
    background-color: whitesmoke;
  }

 .main-container table tbody{
    background: rgba(220,220,235,0.8);
  }

 .main-container table th,
 .main-container table td {
  padding: .6em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
  border: 1px solid #d2d6f1;
}

.main-container table .tbl-title{
    text-align: left;
    width: 30%;
}

.main-container table .col-no{
    width: 7%;
}

.main-container table .col-title{
    width: 55%;
}

.main-container table .col-writer{
    width: 12%;
}

.main-container table .col-date{
    width: auto;
}

.main-container table .col-views{
    width: 7%;
}

.main-container table .col-like{
    width: 7%;
}

.main-container table .tbl-title,
.main-container table .tbl-writer{
    font-size: 17px;
}

.main-container .pagination {
    position: relative;
    margin: 2rem;
    display: inline-flex;
    left: 35%;
  }

.main-container .pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    position: relative;
    margin: .3rem;
  }

.main-container .pagination a.activePage {
    background-color: var(--title-color);
    color: white;
    border-radius: 5px;
  }

.main-container .pagination a:hover:not(.activePage) {
    background: rgba(220,220,235,0.5);
    border-radius: 5px;
  }




<!--responsive-->





@media screen and (max-width: 300px) {
  .login .login-content span.psw {
     display: block;
     float: none;
  }
  .login .login-content .cancelbtn {
     width: 100%;
  }
}

@media screen and (max-width: 880px){
   .write .write-content .writeContainer p{
      font: bold 1.5rem/3rem var(--crimsonText);
  }
}

@media screen and (max-width: 700px){
   .write .write-content .writeContainer p{
      font: bold 1.3rem/2rem var(--crimsonText);
  }
}

@media screen and (max-width: 1130px) {
   .main-container table{
      table-layout: fixed; 
      width: 780px;
   }

   .main-container .main-top{
      width: 780px;
   }

   .main-container .pagination{
      left: 18%;
   }
 }

 @media screen and (min-width: 1131px){
   .main-container .main-top{
      display: flex;
      justify-content: space-between;
   }
   
 }











